/* Board */
#container{
    position: absolute;
    background-color: grey;
}
#container .player{
    border-radius: 100%;
}
#container div{
    width: 30px;
    height: 30px;
    position: absolute;
    border: 1px black solid;
}
#container #home{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 210px;
    left: 210px;
}

/* Spaces */

#container .space{
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
}
#container .space .a{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 14.5px;
    top: 14.5px;
    background-color: grey;
    border-radius: 100%;
}
#container .space .b{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 74.5px;
    top: 14.5px;
    background-color: grey;
    border-radius: 100%;
}
#container .space .c{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 14.5px;
    top: 74.5px;
    background-color: grey;
    border-radius: 100%;
}
#container .space .d{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 74.5px;
    top: 74.5px;
    background-color: grey;
    border-radius: 100%;
}
#container .red{
    top: 45px;
    left: 345px;
    background-color: red;
}
#container .yellow{
    top: 345px;
    left: 345px;
    background-color: yellow;
}
#container .green{
    top: 45px;
    left: 45px;
    background-color: green;
}
#container .blue{
    top: 345px;
    left: 45px;
    background-color: blue;
}

/* Dice */

.cube .front {
    transform: 
      translateZ(50px);
      background-image: url("dice1.png");
      background-size: cover;
  }
  
  .cube .back {
    transform: 
      rotateX(-180deg)
      translateZ(50px);
      background-image: url("dice2.png");
      background-size: cover;
  }
  
  .cube .right {
    transform:
      rotateY(90deg)
      translateZ(50px);
      background-image: url("dice3.png");
      background-size: cover;
  }
  
  .cube .left {
    transform:
      rotateY(-90deg)
      translateZ(50px);
      background-image: url("dice4.png");
      background-size: cover;
  }
  
  .cube .top {
    transform:
      rotateX(90deg)
      translateZ(50px);
      background-image: url("dice5.png");
      background-size: cover;
  }
  
  .cube .bottom {
    transform:
      rotateX(-90deg)
      translateZ(50px);
      background-image: url("dice6.png");
      background-size: cover;
  }
  
  .container {
    width: 100px;
    height: 100px;
    position: absolute;
    perspective: 1000px;
    perspective-origin: 50% 100%;
  }
  
  .cube {
    width: 100%;
    height: 100%;
    top: 50px;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: translateZ(100px);
  }
  
  .cube div {
      opacity: 0.9;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
  }
#cube1{
    left: 900px;
}
#cube2{
    left: 1100px;
}
#roll-button{
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 200px;
    left: 902px;
    background-color: #D12F8C;
    border: 2px solid black;
    font-family: bahnschrift;
    font-size: 30px;
    text-align: center;
}
#roll-button:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: pink;
    transition: background-color 0.5s;
}
#roll-button:active{
    background-color: white;
}
#roll-button:disabled{
    background-color: grey;
}
#roll-button:disabled:hover{
    opacity: 1;
    cursor: auto;
}